.page {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  gap: 8px;
  width: 340px;
}
.page > * {
  padding: 8px;
  border: 1px solid #5d6e87;
}
.top {
  grid-area: header;
}
.side {
  grid-area: nav;
}
.body {
  grid-area: main;
}
.bottom {
  grid-area: footer;
}
